.base{
    text-align: center;
}

img{
    margin: 10px;
    border-radius: 50%;
}


.batom{
    text-align: center;
}

img{
    margin: 10px;
    border-radius: 50%;
}

.sombra{
    text-align: center;
}

img{
    margin: 10px;
    border-radius: 50%;
}